@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

html,body{
height:100%;
}

body{
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
}

img{
	border: none;
}

.main-page {
	padding-bottom: 15px;
}

.section {
	background-color: rgba(255,255,255,0.8);
	border: solid 1px #c5c5c5;
	box-shadow: 0px 0px 3px 0px rgba(200,200,200,0.5);
	margin-top: 18px;
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 6px;
}

.section-header{
	background: #2b5797;
	color: white;
	margin: 0px;
	border-radius:6px 6px 0 0;
	padding: 14px;
	margin-bottom: 14px;
}

.section-body{
	padding:14px;
}

.navbar {
	/*background: rgba(255,255,255,0.4);*/
	border-radius: 0px;
	margin-bottom: 0px;
}

footer {
	background-color: #333;
	color: #aaa;
	font-size: 0.8em;
}

.note{
	color: #888;
	font-size: 0.8em;
}

h1{
	padding-bottom: 5px;
	border-bottom: solid 1px #888;
}

.tab{
	border-top: solid 1px #dedede;
	border-left: solid 1px #e0e0e0;
	padding-top: 12px;
	padding-bottom: 12px;
}

.section ul{
	padding-left: 1.5em;
}
.section li{
	padding-bottom: 10px;
}

.btn-small{
	font-size: 0.8em;
}


form {
	padding-top: 15px;
	padding-bottom: 15px;
}



.header {
	position:relative;
	z-index:2;
	margin:0 auto;
	padding:0 40px;
	background:#222;
	background:-moz-linear-gradient(0% 100% 90deg, #2b5797, #2b5797);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#2b5797), to(#2b5797));
	border:1px solid #111;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	-moz-box-shadow:inset 0 1px 0 0 #383838, 0 1px 6px 0  rgba(0,0,0,0.2);
	-webkit-box-shadow:inset 0 1px 0 0 #383838, 0 1px 4px 0  rgba(0,0,0,0.2);
}